Source: glk-api
Section: libdevel
Priority: extra
Maintainer: Christoph Ender <christoph.ender@spellbreaker.org>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 4.0.0
Homepage: http://www.eblong.com/zarf/glk/

Package: glk-api-dev
Architecture: any
Depends: ${misc:Depends}
Description: Header files for development based on the GLK API.
 This package provides the generic glk.h and glkstart.h files which are
 required for development based on Andrew Plotkin's GLK API.
